header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E3A8A; 
  padding: 12px 20px;
  position: relative;
}

header img {
  height: 150px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
}

nav {
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul.active {
  display: flex;
}

nav ul li {
  position: relative;
}

nav a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  padding: 8px 12px;
  display: block;
}

nav a:hover {
  background-color: #14B8A6;
}

nav ul li ul.dropdown {
  display: none;
  position: absolute;
  background-color: #1E3A8A;
}

nav ul li:hover ul.dropdown {
  display: block;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1E3A8A;
    position: absolute;
    top: 100%;
    left: 0;
  }

  nav ul.active {
    display: flex;
  }
}
