body {
    font-family: Inter, sans-serif; 
    color: #1E3A8A;                
    font-size: 18px; 
    background-image: url("image/background1.jpg");
}
h1 {
    color: #64748B;   
    font-size: 36px;  
    font-family: Poppins, sans-serif;
}

h3 {
    color: #14B8A6;   
    font-size: 24px; 
    font-family: Poppins, sans-serif;
}
    p {
  color: #64748B;
  font-size: 18px;
}
}
