body {
    font-family: Inter, sans-serif; 
    color: #64748B;                
    font-size: 36px; 
    
}
h1 {
    color: #64748B;   
    font-size: 48px;  
    font-family: Poppins, sans-serif;
    text-align: center;
}
footer p { 
    color: #14B8A6;}

footer {
    position:relative;
    z-index: 1; }
        
h3 {
    color: #64748B;   
    font-size: 30px; 
    font-family: Poppins, sans-serif;
    
}
p {
  color: #64748B;
  font-size: 30px;

}
.hero {text-align: center;
       color: #14B8A6;
       position: relative;  
    padding: 100px 20px;
      }


      
.hero * {
    position: relative;
    z-index: 1;}
.hero a {display: inline-block;
    padding: 12px 25px;
    background-color: #14B8A6; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;}

.hero a:hover{background-color: #0f766e;}
      


